:root {
  --base: rgb(238, 238, 238);
  --primary: rgb(36, 22, 87);
  --primary2: #e7edf3;
  --add: rgb(253, 216, 3);
  --text: rgb(0, 0, 0);
  --bases: rgba(199, 199, 198, 0.623);
  --no_color: rgba(255, 255, 255, 0);
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  margin: auto;
  width: 100%;
  top: 0;
  line-height: 80px;
  background-color: var(--primary);
  z-index: 1;
  border-bottom: 1px solid var(--bases);
  box-shadow: 0 4px 6px -2px rgba(221, 214, 214, 0.2);
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo {
  font-weight: 400;
  font-size: 30px;
  color: var(--base);
  float: left;
}

.link {
  float: right;
  display: flex;
  position: relative;
}

ul {
  list-style-type: none;
  color: var(--base);
  display: flex;
  float: right;
  margin: 2px 40px 2px 40px;
}

ul li a {
  color: var(--bases);
  margin: 0 10px 0 10px;
  font-size: 16px;
}

ul li a:hover {
  color: var(--base);
  margin: 0 10px 0 10px;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: var(--add);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

ul li i {
  color: var(--base);
  margin: 0 10px 0 10px;
  font-size: 16px;
}

.wrappers {
  width: 100%;
  background: linear-gradient(to top, var(--text), var(--primary));
  display: flex;
}

.home {
  width: 1100px;
  background-color: var(--no_color);
  display: flex;
  position: relative;
  margin: 60px 60px 100px 60px;
}

.home img {
  width: 35rem;
  height: 28rem;
  float: left;
}

.home .description {
  float: right;
  margin: 70px 0 70px 80px;
}

.description h1 {
  color: var(--base);
  line-height: 60px;
  font-size: 35px;
  width: 40rem;
}

.description P {
  color: var(--base);
  font-size: 18px;
  margin: 5px 70px 0 0;
  line-height: 30px;
}
.button {
  display: flex;
  margin: 20px 0 0 0;
}

.button .shop {
  padding: 15px 40px;
  margin: 0 12px 0 0;
  background-color: var(--base);
  border-radius: 50px;
}

.button .explore {
  padding: 15px 40px;
  margin: 0 12px 0 0;
  background-color: var(--add);
  border-radius: 50px;
}

.button .shop a {
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
}

.button .explore a {
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
}

.aboutai {
  width: 100%;
  background-color: var(--text);
  display: flex;
}

.about {
  width: 1100px;
  background-color: var(--no_color);
  position: relative;
  margin: auto;
}

.header{
    margin: 8rem 0;
}

.header h1 {
  text-align: start;
  color: var(--base);
  width: 100%;
  font-size: 30px;
  line-height: 45px;
}

.header p{
    color: var(--base);
    margin: 20px 40px 0 0;
    font-size: 20px;
    line-height: 30px;
}

.content {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.Implementasi {
  margin: 70px 0;
  display: flex;
}

.content img {
  width: 20rem;
  height: 20rem;
}

.konten2 {
  margin-top: 20px;
}

.chatbox,
.voice,
.stock,
.note {
  width: 240px;
  margin: 20px 10px 0 10px;
  background-color: aliceblue;
  padding: 25px;
  font-size: 18px;
  border-radius: 20px;
}
.chatbox p,
.voice p,
.stock p,
.note p{
  margin-top: 15px;
}

.chatboxdetail {
  margin: 25px 12px 0 0;
}

.chatboxdetail a {
  padding: 15px 20px;
  /* margin: 10px 12px 0 0; */
  background-color: var(--add);
  border-radius: 20px 5px 20px 5px;
  font-size: 15px;
  margin-top: 90px;
  color: var(--text);
}

.title{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.title h3 {
  padding: 5px 15px;
  background-color: var(--add);
  color: var(--primary);
  border-radius: 50px;
  font-size: 28px;
}

.title h2 {
  margin-left: 13px;
}

.benefitai {
  width: 100%;
  background: linear-gradient(to top, var(--primary), var(--text));
  display: flex;
}

.benerfit {
  width: 1100px;
  background-color: var(--no_color);
  position: relative;
  margin: auto;
}

.benerfit h1 {
  text-align: center;
  color: var(--base);
  margin: 50px 0;
  width: 100%;
  font-size: 30px;
  display: block;
}

.keuntungan {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

.konten3 {
  display: flex;
}

.konten3 p {
  font-size: 15px;
}

.respon,
.biaya,
.data,
.pengalaman {
  width: 120px;
  margin: 15px;
  background-color: aliceblue;
  padding: 25px;
  font-size: 18px;
  border-radius: 100px 100px 10px 10px;
}

.konten3 .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.konten3 .title i {
  font-size: 40px;
  padding: 20px;
  background-color: var(--add);
  border-radius: 50px;
  margin-bottom: 10px;
}

.konten3 .respon p,
.biaya p,
.data p,
.pengalaman p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promotionai {
  width: 100%;
  background-color: var(--primary);
  /* background: linear-gradient(to top, rgb(103, 103, 180), var(--primary)); */
  display: flex;
}

.promotion {
  width: 1100px;
  display: flex;
  background-color: var(--no_color);
  position: relative;
  margin: auto;
}

.promotion h1 {
  font-size: 30px;
}

.promotion img {
  width: 35rem;
  height: 28rem;
  float: left;
}

.promotion .description {
  float: right;
  margin: 80px 0 80px 0;
}

.description h1 {
  color: var(--base);
  line-height: 60px;
  font-size: 35px;
  width: 40rem;
}

.button {
  display: flex;
  margin: 20px 0 0 0;
}

.button .contact {
  padding: 15px 40px;
  margin: 0 12px 0 0;
  background-color: var(--base);
  border-radius: 50px;
}

.button .contact a {
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
}

footer {
  background-color: var(--text);
  width: 100%;
  display: flex;
}

.konten4 {
  display: flex;
  margin: 5px 55px 20px;
}

.company {
  width: 370px;
  margin: 10px;
  background-color: var(--text);
  padding: 25px;
  font-size: 18px;
  border-radius: 20px;
  line-height: 25px;
  color: var(--base);
}

.service {
  width: 140px;
  margin: 10px;
  background-color: var(--text);
  padding: 25px;
  font-size: 18px;
  border-radius: 20px;
  line-height: 30px;
  color: var(--base);
}

.product {
  width: 160px;
  margin: 10px;
  background-color: var(--text);
  padding: 25px;
  font-size: 18px;
  border-radius: 20px;
  line-height: 30px;
  color: var(--base);
}

.contactcompany {
  width: 220px;
  margin: 10px;
  background-color: var(--text);
  padding: 25px;
  font-size: 18px;
  border-radius: 20px;
  line-height: 30px;
  color: var(--base);
}

.konten4 .title h2 {
  margin: 0;
}

.web,
.phone,
.email {
  display: block;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.web a,
.phone a,
.email a {
  text-decoration: none;
  color: var(--base);
  margin-left: 10px;
}
.web i,
.phone i,
.email i {
  font-size: 20px;
}
